@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(30, 38, 58);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(rgb(0, 166, 255), rgb(138, 66, 255));
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.search button img {
    margin-top: 5px;
    width: 16px;
}
.search button:hover {
    width: 72px;
}
.search button:active {
    background-color: #e0edff;
}

.weather {
    display: none;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 60px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind {
    font-size: 22px;
    margin-top: -6px;
}

.error {
    display: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 30px;
}