@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    font-family: "Google Sans", sans-serif;
}

.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.container h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 4px;
    text-align: center;
}
.container p {
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
#qrText {
    width: 100%;
    height: 50px;
    border: 2px solid #929292;
    outline: 0;
    padding: 10px;
    margin: 10px 0 0;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.1s;
}
#qrText:focus {
    border: 2px solid #494eea;
}

.container button {
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease;
}
.container button:hover {
    background: #373bb9;
}

#downloadBtn {
    display: none;
}

#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
#imgBox img {
    width: 100%;
    padding: 10px;
}
#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error {
    border: 1px solid #ff0000 !important;
    animation: shake 0.1s linear 4;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}