@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1c2930;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container a {
    color: #fff;
}
.container h1 {
    font-weight: 600;
    font-size: 45px;
    
}
.container h1 span {
    color: #005dc0;
    border-bottom: 4px solid #005dc0;
    padding-bottom: 7px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

#copyBtn {
    color: #5b5b5b;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}
#copyBtn:hover {
    color: rgb(60, 60, 60);
}

.container button {
    border: 0;
    outline: 0;
    background: #005dc0;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    color: black;
    width: 300px;
    height: 70px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.12s linear forwards;
}
@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 10px;
    font-size: 30px;
    color: rgb(0, 150, 0);
}
.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: rgb(0, 150, 0);
    animation: anim 2s linear forwards;
}
@keyframes anim {
    100% {
        width: 0;
    }
}