
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: rgb(238, 238, 238);
}

.main {
    width: 65%;
    height: 90vh;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.left-section img{
    width: 680px;
    rotate: 90deg;
    border-radius: 22px;
    position: absolute;
    left: -85px;
    top: 140px;
}

.right-section {
    position: absolute;
    right: 30px;
    top: 120px;
}

.heading i {
    font-size: 25px;
}

.heading p{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 80px;
}
.heading p span {
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    color: #838383;
}

.input-box {
    width: 450px;
    max-width: 90%;
    position: relative;
}
.input-box label {
    font-size: 16px;
    font-weight: 500;
}
.input-box input {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    color: #000;
    background: transparent;
}

#email{
    margin-bottom: 15px;
}

#message {
    position: absolute;
    bottom: -20px;
    color: #fff;
    font-size: 14px;
    display: none;
}
#message::placeholder {
    font-size: 15px;
}

#eyeIcon {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right : 18px;
    border: none;
    outline: none;
    background: none;
}

.cta button {
    width: 90%;
    height: 46px;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 30px;
    background: rgb(42, 0, 182);
    color: #fff;
    font-weight: 500;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.cta button:hover {
    background-color: rgb(46, 0, 198);
     box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.right-section a {
    margin-left: 130px;
    color: #000;
    font-size: 12px;
}