:root {
    --dash: 472;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 700;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
@keyframes anim {
    0% {
        stroke-dashoffset: 472;
    }
    100% {
        stroke-dashoffset: var(--dash);
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.buttons {
    margin-top: 40px;
}

button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(240, 100, 255);
}